.root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  background: #88888810;
  padding: 0 0.8rem;
  border-radius: 0.4rem;
  box-shadow: 0 3px 6px #00000020;
}

.root:hover:not(:disabled) {
  animation: hover-animation 1s;
}
.root:active:not(:disabled) {
  opacity: 0.6;
}
.root:disabled {
  color: var(--muted-color);
  cursor: not-allowed;
}

@keyframes hover-animation {
  0% {
    background: #88888810;
  }
  20% {
    background: #ffffffff;
  }
  100% {
    background: #88888810;
  }
}

.icon {
  margin-left: -0.2em;
  margin-right: 0.2em;
}

.complete {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  font-weight: 500;
  color: #ffffff;
  background: #0fb665;
  opacity: 0;
  transition: opacity 0.2s;
  border-radius: 0.4rem;
}

.isComplete {
  opacity: 1;
  pointer-events: none;
}

.small {
  font-size: 0.7rem;
}
.middle {
  font-size: 0.9rem;
}
.large {
  font-size: 1.2rem;
  width: 100%;
}

.group {
  display: flex;
  box-shadow: 0 3px 6px #00000020;
  border-radius: 0.4rem;
}

.group :not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.group :not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.group > .root {
  box-shadow: none;
  padding: 0 0.3rem;
  border-radius: 0;
}

.group > .root:first-child {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.group > .root:last-child {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.group > .root:nth-of-type(n + 2) {
  border-left: 0.5px solid #00000010;
}

.group > .root .icon {
  margin: 0;
}

.group > .root .complete {
  border-radius: 0;
}

@media screen and (max-width: 320px) {
  .small {
    font-size: 0.6rem;
    padding: 0 0.2rem;
  }

  .small > .icon {
    width: 0.5rem;
  }
}
