.root {
  position: absolute;
  width: 100%;
  padding: 0.1rem 0 0.05rem;
  box-sizing: border-box;
  z-index: 2;
}

.block {
  height: 100%;
  color: #000000;
  border-radius: 5px;
  box-shadow: 0 5px 5px #00000020;

  &.isDark {
    color: #ffffff;
  }
}

.time {
  font-size: 0.6rem;
  margin-right: 0.5rem;
  min-width: 5.8rem;
  white-space: nowrap;
}

.project {
  min-width: 5em;
  height: 1.2rem;
  font-size: 0.7rem;
  margin-right: 0.5rem;
  background: none;
  padding: 0;
}

.form {
  display: flex;
  align-items: center;
  height: 100%;
}

.body {
  width: 100%;
  min-height: 1.5em;
  font-size: 0.8rem;
  padding: 0;
  overflow: hidden;
  cursor: text;
}

.body:hover {
  background: #cccccc30;
}
.body:focus {
  background: #cccccc30;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
}

.resizeHandle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7px;
  cursor: row-resize;
}

.button {
  background: none;
}

.isSmall {
  .content {
    flex-direction: row;
  }
  .row {
    /* display: contents; */
  }
  .time {
    min-width: 2rem;
    font-size: 0.5rem;
  }
  .project {
    font-size: 0.7rem;
  }
  .content {
    flex-grow: 1;
  }
  .body {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
