.root {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow: scroll;
  overscroll-behavior: contain;
}

.container {
  height: 0;
  position: relative;
}

.foregraound {
  width: 100%;
}

.enterActive {
  opacity: 0.4;
  transition: opacity 1s;
}
.enterDone {
  opacity: 1;
}
.exitActive {
  opacity: 1;
  transition: opacity 1s;
}
.exitDone {
  opacity: 1;
}
