.label + .label {
  margin-top: 0.5rem;
}

.heading {
  font-size: 0.7rem;
  color: #999999;
}

.textarea {
  width: 100%;
  height: 8rem;
  min-height: 3rem;
  font-size: 0.8rem;
  border: 0.9px solid #cccccc;
  border-radius: 0.2rem;
}

.description {
  font-size: 0.5rem;
  color: var(--muted-color);
  margin: 0.5rem 0;
}

.textareaActions {
  display: flex;
  gap: 0.2rem;
  margin: 0.2rem 0;
}

.select {
  width: 100%;
}
